/* Общие стили */
.page {
  min-width: 1100px;
  /* установлена минимальная ширина страницы */
  max-width: 1600px;
  /* ограничение по максимальной ширине */
  margin: 0 auto;
  /* для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Шапка сайта */
.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* установили ограничения для секции */
  background-color: #f2f2f2;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  align-self: center;
  margin: 0 0 0 64px;
  z-index: 2;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  margin: 0;
  z-index: 2;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;  
}

/* Секция Описание */
.description {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:nth-child(3n) {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* Секция Цифры */
.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  z-index: 1;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
}

.table {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0 0;
}

.table__heading {
  margin: 0;;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* Секция Фейнман*/
.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 890px;
  background-color:#f2f2f2;
  background-image: url('../images/feynman.png');
  background-size: 867px, 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.feynman__title {
  width: 648px;
  margin: 100px 0 70px 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;  
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

/* Секция Принципы обучения Кауфмана*/
.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 90px 0;
  background-color: #1f1f1f;
  color: #ffff;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
}

/* Подвал */
.footer {
  padding: 60px 0 40px 0;
  background-color: #1f1f1f;
  color: #ffff;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 350px;
  margin: 0 auto;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.column-links__item {
  text-decoration: none;
  color: #ffff;
}

.footer__social-icon {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-link {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.column-link__item {
  text-decoration: none;
  color: #ffff;
}

.item__img {
  margin: 0 10px 0 0;
}